<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Login Page </title>
        <link rel="stylesheet" href="style.css">
    </head>  
    <body>
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li class="active"><a href="/additional">ADDITIONAL RESOURCES</a></li>
                    <li><a href="/login">LOGIN/REGISTRATION</a></li>
                </ul>
            </div>
        </nav>  
        <div class ="container"><h4>TranslateMe</h4></div>
        <div class ="title"><h1>Resume Templates/Guide</h1></div>
        <div class ="description">
            <h1>Resume Guide</h1>
            <p>While your resume should be tailored to the specific jobs you’re considering, there are a few key elements you should include. Here is a great reference to use while writing your resume: <a href="https://www.indeed.com/career-advice/resumes-cover-letters/technical-resume-tips">Tech Resume Guide</a></p>
            <h1>Resume Templates</h1>
            <p>Here are a few templates which you can refer to while you write your resume: <a href="https://www.indeed.com/career-advice/resume-samples/information-technology-resumes/it">Tech Resume Templates</a></p>
        </div>
    </section>
    </body>
</html>
