<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login Page </title>
    <link rel="stylesheet" href="style.css">
    <link rel="script" href="signup.html">

    <script type="text/css" src="{{ url_for('static', filename = 'assets/css/style.css') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'assets/css/style.css') }}">
</head>

<body>
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li class="active"><a href="/login">LOGIN/REGISTRATION</a></li>
                    <li><a href="/additional">ADDITIONAL RESOURCES</a></li>
                </ul>
            </div>
        </nav>  
        <h1> TranslateMe Login </h1>
            <div class="container"> 
                <label>Username: </label> 
                <input type="text" placeholder="Enter Username" name="username" required>
                <label>Password: </label> 
                <input type="password" placeholder="Enter Password" name="password" required>
                <button type="submit" class="loginbtn" onclick="window.location.href='/loggedin'"> Login</button> 
                <button type="button" class="signupbtn" onclick="window.location.href='/signup'">Sign Up</button>
                <button type="button" class="cancelbtn" onclick="window.location.href='/'">Cancel</button> 
            </div> 
    </body>

</html>
