<!DOCTYPE HTML>

<html>

<head>
	<title>TranslateMe!</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<script src="https://kit.fontawesome.com/9de7f781e5.js" crossorigin="anonymous"></script>

	<script type="text/css" src="{{ url_for('static', filename = 'assets/css/style.css') }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'assets/css/style.css') }}">
</head>

<body>

	<body>
		<section class="header">

			<nav>
				<a href="/"><img src="images/logo.png"></a>
				<div class="nav-links">
					<ul>
						<li class="active"><a href="">HOME</a></li>
						<li><a href="/login">LOGIN/REGISTRATION</a></li>
						<li><a href="/additional">ADDITIONAL RESOURCES</a></li>
					</ul>
				</div>
			</nav>
			<div class="logo">
				<h4>RESUME TRANSLATOR</h4>
			</div>
			<div class="title">
				<h1>RESUME TRANSLATOR</h1>
			</div>
			<div class="description">
				<h1>Our Purpose</h1>
				<p>Digital Resume Translator from Native Language to English. DISCLAIMER: Only compatible with .docx.
				</p>
				<a href="/translate"><button type="button">TRANSLATE YOUR RESUME</button></a>
			</div>
		</section>
	</body>

</html>
